:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);

}

body {
    background-image: url('../images/bg-mobile.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--violet);
    display: flex;
    flex-direction: column;
    min-height: 100svh;

    /* align-content: center; */
    /* justify-content: ; */

    /* align-items: center; */
}


.content>img {
    /* flex: 1; */
    padding-inline: 4.5rem;
    /* padding-block: 0rem 4rem; */
    object-fit: contain;
    margin-block-start: 7.2rem;
    /* flex: 1 1 606px; */
    flex: 1;
  
}


.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    /* min-height: 100svh; */
    /* flex: 1; */
}




header {
    align-self: flex-start;
    margin-inline-start: 3.9rem;
    margin-block-start: 4rem;
    /* flex: 1; */
    /* padding-block-start: 3.9rem; */
}

footer {
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: center;
    /* margin-block-end: 5.5rem; */
}

ion-icon {
    font-size: 1.75rem;
    color: white;
    border: 2px solid white;
    padding: 0.7rem;
    border-radius: 50px;
    margin-inline: 0.7rem;
}
.text-con {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    /* flex: 1; */
    /* margin: auto; */
    flex: 1;
    /* gap: 10px; */
    /* flex-basis: content; */
    margin-block-start: 7.5rem;
}
.text-con>h1 {
    font-size: 3rem;
    max-width: 20ch;
    
    color: white;
    
    
}
.text-con>p {
    font-size: 2rem;
    max-width: 33ch;
    color: white;
    margin-block: 1.8rem 2.6rem;
   /* flex: 1 ; */
   
}

.register-btn {
   
   
    font-size: 1.5rem;
    padding-inline: 9.5rem;
    padding-block: 1.5rem;
    margin-block-end: 8rem;
    
    background-color: white;
    color: var(--violet);
    border-radius: 40px;
}

.register-btn:hover {
    cursor: pointer;
    color: white;
    background-color: var(--soft-magenta);
}

@media(min-width: 760px) {
    body {
        background-image: url('../images/bg-desktop.svg');
    }

    .text-con {
        align-items: flex-start;
        text-align: left;
    }

    .icon-con {
        justify-content: flex-end;
    }
    .text-con>p {
            /* font-size: 2rem; */
            max-width: 50ch;
            
    
    }
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.open-sans-400 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}