:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);

}

body {
    background-image: url('../images/bg-mobile.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--violet);
    display: flex;
    flex-direction: column;
    min-height: 100svh;

    /* align-content: center; */
    justify-content: space-around;

    /* align-items: center; */
}


.content>img {
    /* flex: 1; */
    padding-inline: 4.5rem;
    padding-block: 1rem 0rem;
    margin-block-end: 7.2rem;
    /* flex: 1 1 606px; */
    
  
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* min-height: 100svh; */
    flex: 1;
}




header {
    align-self: flex-start;
    margin-inline-start: 3.9rem;
    margin-block-start: 3.9rem;
}

footer {
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: center;
}

ion-icon {
    font-size: 1.75rem;
    color: white;
    border: 2px solid white;
    padding: 0.7rem;
    border-radius: 50px;
    margin-inline-end: 1rem;
}
.text-con {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    flex: 1;
    /* margin: auto; */
    /* flex: 1; */
    /* gap: 10px; */
    /* flex-basis: content; */
}
.text-con>h1 {
    font-size: 3rem;
    max-width: 20ch;
    /* margin: auto; */
    color: white;
    
    /* margin-block-start: 0.1rem; */
    flex: 1;
    
}
.text-con>p {
    font-size: 2rem;
    max-width: 33ch;
    color: white;
   flex: 1;
   
}

.register-btn {
    
   
    font-size: 1.5rem;
    padding-inline: 9.5rem;
    padding-block: 1.3rem;
    
    background-color: white;
    color: var(--violet);
    border-radius: 40px;
}

@media(min-width: 760px) {
    body {
        background-image: url('../images/bg-desktop.svg');
    }
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.open-sans-400 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}